################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DockerAPI/DockerAPI/obj
/DockerAPI/DockerAPI/bin/Debug/net5.0
/DockerAPI/.vs/DockerAPI
