################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DockerAPI/DockerAPI/obj
/DockerAPI/DockerAPI/bin/Debug/net5.0
/DockerAPI/.vs/DockerAPI
/DockerAPI/DockerAPI/bin/Debug/netcoreapp3.1
/DockerAPI/DockerAPI/Logs
/DockerAPI/Docker.Core/bin/Debug/netcoreapp3.1
/DockerAPI/Docker.Core/obj
/DockerAPI/.vs/Docker.API
/DockerAPI/Docker.API/bin/Debug
/DockerAPI/Docker.API/obj
/DockerAPI/Docker.API/Logs
/DockerAPI/Docker.Infrastructure/bin/Debug/netcoreapp3.1
/DockerAPI/Docker.Infrastructure/obj
/DockerAPI/Docker.WebApi/bin/Debug/netcoreapp3.1
/DockerAPI/Docker.WebApi/Logs
/DockerAPI/Docker.WebApi/obj
/DockerAPI/Docker.WebApi/wwwroot/Images/WebCamImages
/DockerAPI/Docker.WebApi/wwwroot/Images/CaptureScreen
/DockerAPI/Docker.Membership/bin/Debug/netcoreapp3.1
/DockerAPI/Docker.Membership/obj
/DockerAPI/Docker.Infrastructure.Test/bin/Debug/netcoreapp3.1
/DockerAPI/Docker.Infrastructure.Test/obj/Debug/netcoreapp3.1
/DockerAPI/Docker.Infrastructure.Test/obj
